{% extends 'base.html.twig' %}

{% block title %}Pet Report 1{% endblock %}

{% block body %}
    <h1>Pet Report 1</h1>

    <table class="table">
        <thead>
        <tr>
            <th>owner name</th>
            <th>pet name</th>
            <th>pet species</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.ownerName }}</td>
                <td>{{ result.petName }}</td>
                <td>{{ result.petSpecies }}</td>
            </tr>

        {% else %}
            <tr>
                <td colspan="3">no results found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

